
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default" id="panel">
        <div class="panel-error" *ngIf="error">{{error.message}}</div>
        <div class="panel-heading">
          <h1 id="titulo">Iniciar sesi&oacute;n</h1>
        </div>
        <div class="panel-body">
          <img src="../../../imagen/libro.png" id="imagen">
          <form (submit)="login()" class="m-0" >
            <div class="form-group" id="username" >
              <label for="username">Usuario</label>
              <input [(ngModel)]="username" name="username" 
              type="text" placeholder="Usuario"
               class="form-control"/>
              
            </div>
            <br>
            <div class="form-group" id="password">
              <label for="password">Contrase&ntilde;a</label>
              <input [(ngModel)]="password" name="password"  type="password" placeholder="Contrase&ntilde;a" class="form-control"/>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="btningresar" >Ingresar</button>
          </form>
        </div>
        <!-- <div class="panel-footer">
          <div><a id="login-with-mic" (click)="loginWithMIC()">Login with Mobile Identity Connect</a>
          <div><a [routerLink]="['/signup']">Don't have an account? Sign up</a>
        </div> -->
      </div>
    </div>
  </div>

