#titulo{
    text-align: center;

}

#imagen{
    display: block;
    margin:auto;
    width: 40%;
    height: auto;
    margin-bottom: 40px;
}

#username{
    display: block;
    margin:auto;
    width: 60%;
}

#password{
    display: block;
    margin:auto;
    width: 60%;
}

#btningresar{
    display: block;
    margin:auto;
}

#panel{
    display: block;
    margin: auto;
    padding: auto;
}
